html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  background: #FFFFFF;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

pre {
  padding: 1em;
  overflow-x: scroll; }

code {
  padding: 1px 5px; }

pre, code {
  font-size: 16px;
  background-color: #EEF;
  border-radius: 2px;
  border: 1px solid #EEE; }

.site-title, .site-description {
  font-family: "Source Code Pro", monospace;
  font-weight: 500; }

.site-title {
  font-size: 1.25em; }

.accent, .prompt {
  color: #585858; }

#content {
  padding: 2em 2em 2em 2em; }

#navigation {
  background: #181818;
  color: #d8d8d8; }

#navigation {
  padding: 2em;
  padding-left: 1em;
  padding-right: 2em;
  text-align: center; }

@media (min-width: 64em) {
  #navigation {
    position: fixed;
    text-align: left;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 16em; }
    #navigation .container {
      position: absolute;
      left: 1em;
      right: 2em;
      bottom: 2em; }

  #content {
    padding-left: 4em;
    margin-left: 19em;
    width: 42em; } }
