figure.code {
    @extend .syntax;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;

    -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);

    .highlight {
        margin-top: 1em;
        overflow-x: auto;

        .lineno {

            width: 3.8em;
            text-align: right;
            padding-right: 0.7em;
            display: inline-block;
        }

        pre {
            margin-top: 1em;
            margin-bottom: 1em;
            display: inline-block;
            margin-right: 1em;
        }
    }

    figcaption {
        @include monospace;
        font-size: 85%;
        font-weight: 400;
        padding-top: 0.75em;
        margin-bottom: -2em;
        text-align: center;
    }

    figcaption, .lineno {
        @extend .c;
        -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
    }
}

code {
    border: 1px solid #DDDDDD;
    background: #EEEEEE;
    padding: 1px 5px;
    font-size: 85%;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

pre {
    code {
        border: none;
        background: none;

        -webkit-border-radius: none;
           -moz-border-radius: none;
                border-radius: none;

           -webkit-box-shadow: none;
              -moz-box-shadow: none;
                   box-shadow: none;

        padding: 0px;
    }
}
