.highlight {
    @extend .syntax;
    overflow-x: auto;

    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;

       -webkit-box-shadow: inset 0px 0px 10px #111;
          -moz-box-shadow: inset 0px 0px 10px #111;
               box-shadow: inset 0px 0px 10px #111;

    .lineno {
        @extend .c;

        -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;

        width: 3.8em;
        text-align: right;
        padding-right: 0.7em;
        display: inline-block;
    }

    pre {
        display: inline-block;
        margin-right: 1em;
    }
}

code {
    border: 1px solid #DDDDDD;
    background: #EEEEEE;
    padding: 1px 5px;
    font-size: 93.75%;

    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

pre {
    code {
        border: none;
        background: none;

        -webkit-border-radius: none;
           -moz-border-radius: none;
                border-radius: none;

           -webkit-box-shadow: none;
              -moz-box-shadow: none;
                   box-shadow: none;

        padding: 0px;
    }
}
