// common {{{
#navigation {
    background: $theme-color;
    color: $theme-text-color;
}
// }}}

// horizontal navigation {{{
#navigation {
    padding: 1em;
    text-align: center;
}
// }}}

// vim: fdm=marker
