main {
    {{ theme.content.horizontal.padding | sass_padding }}
}

header.page {
    background: {{ theme.header.background }};
    text-align: center;

    {{ theme.header.horizontal.padding | sass_padding }}

    &, * {
        color: {{ theme.header.color }};
    }

    h1 {
        font-size: 1.25em;
    }

    h2 {
        font-size: 1.15em;
    }

    .prompt, h2 {
        color: {{ theme.header.accent }};
    }

    h1, h2 {
        {% if theme.title.monospace %}
        @include monospace;
        {% endif %}
        font-weight: 500;
        margin-bottom: 0.75em;
    }

    nav.social a {
        i.fa {
            width: 1em;
        }

        display: block;
        line-height: 1.5;
        font-weight: 400;
    }
}
