html {
    font-family: {{ theme.font.sans }};
    font-weight: 300;
    font-size: {{ theme.font.size }};
    overflow-x: hidden;
}

// Margins and padding [[[
html, body, div {
    margin: 0px;
    padding: 0px;
}
// ]]]

// Headers [[[
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-top: 0.64em;
    margin-bottom: 0.64em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
    
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
}

h6 {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}
// ]]]

// Basic elements [[[
* {
    outline: none;
}

main {
    display: block;
    {{ theme.content.vertical.padding | sass_box: "padding" }}
}

a {
    text-decoration: none;
    color: {{ theme.content.link.normal }};
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

b, strong {
    font-weight: bolder;
}

pre, code {
    font-weight: 400;
    @include monospace;
}
// ]]]

// vim: fdm=marker foldmarker=[[[,]]]
