// main {{{
$fonts: "Source Sans Pro", sans-serif;
$monospace-fonts: "Source Code Pro", monospace;
// }}}

// theme {{{
$theme-color: #181818;
$theme-text-color: #d8d8d8;
$site-title-monospace: true;
// }}}

// navigation {{{
$navigation-width: 16em;
$navigation-side: left;
// }}}

// vim: fdm=marker
