html, body {
    margin: 0px;
    padding: 0px;

    font-family: $fonts;
}

@if $site-title-monospace {
    .site-title, .site-description {
        font-family: $monospace-fonts;
        font-weight: 500;
    }
}


.site-title {
    font-size: 1.25em;
}

.accent, .prompt {
    color: $theme-color-accent;
}

#content {
    padding: $content-padding;
}
