// general {{{
* {
    outline: none;
}

html, body {
    overflow-x: hidden;

    margin: 0px;
    padding: 0px;

    font-family: $fonts;
    font-weight: 300;

    background: #FFFFFF;
    font-size: $min-font-size;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
// }}}

// code tags {{{
.highlight, code {
    font-family: $monospace-fonts;
    font-size: 15px;
    border-radius: 2px;

       -moz-box-shadow: inset 0 0 2px #000;
    -webkit-box-shadow: inset 0 0 2px #000;
            box-shadow: inset 0 0 2px #000;
}

code {
    padding: 1px 2px;
    background-color: #EEF;
    border: 1px solid #EFEFEF;

       -moz-box-shadow: inset 0 0 2px #EEE;
    -webkit-box-shadow: inset 0 0 2px #EEE;
            box-shadow: inset 0 0 2px #EEE;
}

pre {
    padding: 1em;
    overflow-x: scroll;

    code {
        padding: 0px;
        background: none;
        border: none;
        border-radius: 0px;

           -moz-box-shadow: none;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
}
// }}}

// theme {{{
@if $site-title-monospace {
    .site-title, .site-description {
        font-family: $monospace-fonts;
        font-weight: 500;
    }
}


.site-title {
    font-size: 1.25em;

    * {
        text-decoration: none;
        color: $theme-text-color;
    }
}

.accent, .prompt {
    &, a {
        text-decoration: none;
        color: $theme-color-accent;
    }
}

#content {
    padding: $content-padding;
}

.social-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    * {
        text-decoration: none;
        color: $theme-text-color;
    }

    i.fa {
        color: $theme-color-accent;
        width: 1em;
        height: 1em;
        text-align: left;
    }

    li {
        margin-bottom: 0.25em;
    }
}

// }}}

// vim: fdm=marker
