// common {{{
#navigation {
    background: $theme-color;
    color: $theme-text-color;
}
// }}}

// horizontal navigation {{{
#navigation {
    padding: $navigation-padding-anchor;
    padding-left: $navigation-padding-left;
    padding-right: $navigation-padding-right;
    text-align: center;
}
// }}}

// vertical navigation {{{
$navigation-page-min-width: $navigation-width * 100% / $navigation-max-width;

@media (min-width: $navigation-page-min-width) {
    #navigation {
        position: fixed;
        text-align: #{$navigation-side};

        top: 0px;
        bottom: 0px;
        #{$navigation-side}: 0px;
        width: $navigation-width;

        .container {
            position: absolute;
            left: $navigation-padding-left;
            right: $navigation-padding-right;
            #{$navigation-anchor}: $navigation-padding-anchor;
        }
    }

    #content {
        margin-#{$navigation-side}: $navigation-width + $navigation-padding-left + $navigation-padding-right;
        width: $navigation-page-min-width - $navigation-width - $content-padding-left - $content-padding-right;
    }
}
// }}}

// vim: fdm=marker
