.post-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    a {
        color: $theme-color;
        text-decoration: none;
    }

    li {
        margin-bottom: 2em;
    }

    h2 {
        margin-top: 5px;
        margin-bottom: 0px;
    }
}

.post-title {
    margin-top: 0px;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.post-meta {
    color: #808080;
    font-size: 0.9em;
}

.post-content {
    line-height: 1.6;
}
