<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic|Source+Code+Pro:400,500,300,600,700' rel='stylesheet' type='text/css'/>
        <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'/>

        <title>{{ site.title_prefix }}{{ page.title | fallback: site.title }}</title>

        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />

        <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | sub: '/index.html$', '/' }}" />

        {% include analytics.html %}
    </head>
    <body>
        <div id="navigation">
            <div class="container">
                <h1 class="site-title">
                    <a href="{{ site.baseurl }}/">
                        {% if site.theme.site-title-prompt %}<span class="prompt">></span>{% endif %}
                        {{ site.title }}
                    </a>
                </h1>
                <h2 class="site-description accent">
                    <a href="{{ site.baseurl }}/">{{ site.description }}</a>
                </h2>
                <ul class="social-list">
                    {% if site.github_username %}
                    <li><a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i>&nbsp; {{ site.github_username }}</a></li>
                    {% endif %}
                    {% if site.twitter_username %}
                    <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter"></i>&nbsp; {{ site.twitter_username }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
